section.services
  h2.section-title What We Do

  .service-flex
    each service in ["Web Design", "Motion Video", "Print Design", "Illustrations"]
      article
        h3 #{service}
        p Description of #{service}
