extends main.pug

block content
  include blocks/header.pug
  include blocks/hero.pug

  main.container
    include blocks/works.pug
    include blocks/services.pug
    include blocks/journal.pug

  include blocks/footer.pug
