* {
    box-sizing: border-box;
}

body {
    background: #fceeee;
    font-family: Arial, sans-serif;
}



.container {
    display: grid;
    gap: 15px;
    padding: 20px;
}

header, nav, .sidebar, main, .ads, footer {
    border: 2px solid tomato;
    padding: 10px;
}



@media (min-width: 600px) {
    .container {
        grid-template-columns: 150px 1fr;
    }

    header { grid-column: 1 / 3; }
    nav { grid-column: 1 / 3; }

    .sidebar { grid-column: 1; }
    main { grid-column: 2; }

    .ads { 
        grid-column: 1; 
    }

    footer { 
        grid-column: 2; 
    }
}




@media (min-width: 900px) {
    .container {
        grid-template-columns: 200px 1fr 150px;
    }

    header { grid-column: 1 / 4; }

    nav { grid-column: 2; }

    .sidebar {
        grid-column: 1;
        grid-row: 2 / 4;
    }

    main {
        grid-column: 2;
    }

    .ads {
        grid-column: 3;
        grid-row: 2 / 4;
    }

    footer {
        grid-column: 1 / 4;
    }
}
