* {
    box-sizing: border-box;
}

body {
    background: #fceeee;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    gap: 15px;
    padding: 20px;

  
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "sidebar"
        "ads"
        "footer";
}

header { grid-area: header; border: 2px solid tomato; padding: 10px; }
nav { grid-area: nav; border: 2px solid tomato; padding: 10px; }
.sidebar { grid-area: sidebar; border: 2px solid tomato; padding: 10px; }
main { grid-area: main; border: 2px solid tomato; padding: 10px; }
.ads { grid-area: ads; border: 2px solid tomato; padding: 10px; }
footer { grid-area: footer; border: 2px solid tomato; padding: 10px; }



@media (min-width: 600px) {
    .container {
        grid-template-columns: 150px 1fr;
        grid-template-areas:
            "header header"
            "nav nav"
            "sidebar main"
            "ads footer";
    }
}



@media (min-width: 900px) {
    .container {
        grid-template-columns: 200px 1fr 150px;
        grid-template-areas:
            "header header header"
            "sidebar nav ads"
            "sidebar main ads"
            "footer footer footer";
    }
}
