body {
    margin: 0;
    background: #f2f2f2;
}

.gallery {
    width: 90%;
    margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: 160px;
    border-radius: 6px;
    object-fit: cover;
}


.banner {
    grid-column: 1 / -1;
    height: 300px;
}


@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .banner {
        grid-column: 1 / -1;
        height: 250px;
    }
}


@media (max-width: 576px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery img {
        height: 200px;
    }

    .banner {
        height: 180px;
    }
}
