body {
  padding: 20px;
  font-family: sans-serif;
}

.grid {
  display: grid;

  
  grid-auto-flow: column;  
  grid-template-rows: repeat(12, 1fr);  

  grid-auto-columns: 200px 120px 120px 120px 120px 120px;
  gap: 10px;

  counter-reset: block;
}

.item {
  background: #64b1ad;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: block;
  color: white;
  font-weight: bold;
  position: relative;
}

.item::before {
  content: counter(block);
}


.item:nth-child(1) {
  grid-row: span 12;
}


.item:nth-child(2),
.item:nth-child(3) {
  grid-row: span 6;
}


.item:nth-child(4),
.item:nth-child(5),
.item:nth-child(6) {
  grid-row: span 4;
}


.item:nth-child(7),
.item:nth-child(8),
.item:nth-child(9),
.item:nth-child(10) {
  grid-row: span 3;
}


.item:nth-child(11),
.item:nth-child(12),
.item:nth-child(13),
.item:nth-child(14),
.item:nth-child(15),
.item:nth-child(16) {
  grid-row: span 2;
}


.item:nth-child(n+17):nth-child(-n+28) {
  grid-row: span 1;
}
