body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
}

.card {
    background: white;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content p {
    flex-grow: 1;
    overflow: hidden;

}

button {
    background: #888;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #555;        
    transform: translateY(-2px); 
    transition: 0.25s;
}


.big img{
    height: 500px;
}


.big {
    grid-column: span 2;
    grid-row: span 2;
}

.tall {
    grid-row: span 2;
    grid-column: 3;
}



@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .big {
        grid-column: span 2;
    }

    .tall {
        grid-column:3;
        grid-row: span 2;
    }
}

@media (max-width: 576px) {
    .container {
        grid-template-columns: 1fr;
    }

    .big,
    .tall {
        grid-column: span 1;
    }
}
