body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  color: #333;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.weather-card {
  background: #fff;
  border-radius: 16px;
  padding: 20px 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  margin-bottom: 4px;
}

.date {
  color: #777;
  font-size: 14px;
}

.current-weather {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.current-weather img {
  width: 60px;
  margin-right: 15px;
}

.temp {
  font-size: 36px;
  font-weight: bold;
  margin-right: 20px;
}

.details p {
  margin: 2px 0;
  font-size: 14px;
  color: grey;
}

.gray-text {
  color: gray;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.day-name {
  font-weight: bold;
  font-size: 14px;
  width: 100px;
}

.icon-temp-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-temp-row img {
  width: 30px;
  height: 30px;
  margin:0 50px;
}

.temps {
  display: flex;
  flex-direction: column;
  font-size: 14px;

}

.gray-temp {
  color: gray;
}
