body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


table {
  border-collapse: collapse;
  width: 600px;
  text-align: center;
  font-size: 16px;
  color: black;
}


table, th, td {
  border: 1px solid white;
}


thead th {
  padding: 12px;
  font-weight: bold;
  color: white;
}


thead th:nth-child(1) { background-color: #f8dede;}
thead th:nth-child(2) { background-color: #f2bfbf; }
thead th:nth-child(3) { background-color: #e68f8f; }
thead th:nth-child(4) { background-color: #cc5a5a; }
thead th:nth-child(5) { background-color: #8b1a1a; }


td{
  padding: 10px;
  background-color: #f9e3e3;
}

tr > th {
  background-color: #883c3c;
  font-weight: normal;
  color: white;
  padding-left: 12px;
}


tr:nth-child(odd) td {
  background-color: #cf6363;
}
tr:nth-child(even) td {
  background-color: #f3c6c6;
}
