body {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 600px;
    margin: 50px auto;
    background: #ffffff;
    position: relative;
    border: 2px solid #ccc;
}

.block {
    color: #000;
    text-align: center;
    line-height: 100px; 
    font-size: 20px;
    position: absolute;
    border: 2px solid #000000;
}

.behind {
    width: 300px;
    height: 150px;
    background: #1db33f;
    top: 80px;
    left: 310px;
    z-index: 0;
}

.left-in-front {
    width: 250px;
    height: 100px;
    background: #78b4fd;
    top: 200px;
    left: 180px;
    z-index: 1;
}

.right-in-front {
    width: 250px;
    height: 100px;
    background: #3ceaf0;
    top: 200px;
    left: 490px;
    z-index: 1;
}
